a.link {
  display: inline-block;
  text-decoration: none;
  color: $primary-color;
  transition: all .3s ease-in-out;
  &:hover {
    color: $primary-color-hover;
    text-decoration: underline;
  }
}
