html, body{
  overflow-x: hidden;
}

.inputs-row {
  margin-bottom: 75px;
  margin-top: 40px;
  & select, input {
    width: 100%;
    padding: .3em .5em;
    height: 2.3em;
    background-color: #fff;
    border: 1px solid #706f6f;
    border-radius: 6px;
  }
}
