section.std-section.pp-tt-section.u1-2
  .container.pp-tt
    .row
      .col-sm-12.col-md-6.no-padding.pp-tt__order_pic.pp-tt__order_pic--left
        img.pp-tt__img(src="../img/u1.jpg")
      .col-sm-12.col-md-6.no-padding.pp-tt__order_pic.pp-tt__order_pic--right
        img.pp-tt__img(src="../img/u2.jpg")
      .col-sm-12.col-md-6.no-padding.pp-tt__order_text.pp-tt__order_text--left
        .pp-tt__text
          span U1
          p Компактный радиатор с глубиной секции всего 90 мм. Для небольших квартир и домов, где на счету каждый метр

          p Рекомендованная розничная цена 1 секции:
          span ₽ 770,—
      .col-sm-12.col-md-6.no-padding.pp-tt__order_text.pp-tt__order_text--right
        .pp-tt__text
          span U2
          p Радиатор высотой всего 388 мм и стандартной глубиной 140 мм. Оригинальное решение для пространств с большими окнами.

          p Рекомендованная розничная цена 1 секции:
          span ₽ 770,—