.header {
  &-section {
    padding-top: 0;
    padding-bottom: 0;
    width: 100%;
    @include media-breakpoint-down(sm) {
      position: fixed;
      top: 0;
      z-index: 999;
    }
    .container:first-child {
      @media screen and (max-width: 1024px) {
        display: none;
      }
    }
  }
  &-menu-nav {
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    &__item {
      display: flex;
      align-items: center;
      font-size: 15px;
      line-height: 19px;
      height: 100%;
      color: #000000;
      padding-right: 60px;
      text-decoration: none;
      transition: all .3s ease-in-out;
      &:hover, &.active {
        color: $link-color;
        text-decoration: none;
      }
    }
  }
  &__logo {
    text-decoration: none;
    & img {
      max-width: 100%;
      height: auto;
      object-fit: contain;
    }
  }
}
