extends partials/layout.pug

block title
  title Главная

block contentBlock
  include partials/header--log.pug
  .container
    .row.mt-4
      .col-12
        .border-bottom
          h3 Новые серии
    .row.mt-4
      .col-12
        .row.d-flex.flex-wrap
          .col-3.pb-3
            a.btn.p-0(href='/dist/card.html')
              span
                img.img-fluid(src='https://irecommend.ru/sites/default/files/product-images/458191/73xDhFBLkMiE3dz67T6NUg.jpg')
              span.d-flex.mt-1
                span.text-truncate Tate no Yuusha no Nariagari
              span.d-flex.justify-content-between.text-muted
                small.right 2019
                small TV Сериал
          .col-3.pb-3
            a.btn.p-0(href='/dist/card.html')
              span
                img.img-fluid(src='https://irecommend.ru/sites/default/files/product-images/458191/73xDhFBLkMiE3dz67T6NUg.jpg')
              span.d-flex.mt-1
                span.text-truncate Tate no Yuusha no Nariagari
              span.d-flex.justify-content-between.text-muted
                small.right 2019
                small TV Сериал
          .col-3.pb-3
            a.btn.p-0(href='/dist/card.html')
              span
                img.img-fluid(src='https://irecommend.ru/sites/default/files/product-images/458191/73xDhFBLkMiE3dz67T6NUg.jpg')
              span.d-flex.mt-1
                span.text-truncate Tate no Yuusha no Nariagari
              span.d-flex.justify-content-between.text-muted
                small.right 2019
                small TV Сериал
          .col-3.pb-3
            a.btn.p-0(href='/dist/card.html')
              span
                img.img-fluid(src='https://irecommend.ru/sites/default/files/product-images/458191/73xDhFBLkMiE3dz67T6NUg.jpg')
              span.d-flex.mt-1
                span.text-truncate Tate no Yuusha no Nariagari
              span.d-flex.justify-content-between.text-muted
                small.right 2019
                small TV Сериал
          .col-3.pb-3
            a.btn.p-0(href='/dist/card.html')
              span
                img.img-fluid(src='https://irecommend.ru/sites/default/files/product-images/458191/73xDhFBLkMiE3dz67T6NUg.jpg')
              span.d-flex.mt-1
                span.text-truncate Tate no Yuusha no Nariagari
              span.d-flex.justify-content-between.text-muted
                small.right 2019
                small TV Сериал
          .col-3.pb-3
            a.btn.p-0(href='/dist/card.html')
              span
                img.img-fluid(src='https://irecommend.ru/sites/default/files/product-images/458191/73xDhFBLkMiE3dz67T6NUg.jpg')
              span.d-flex.mt-1
                span.text-truncate Tate no Yuusha no Nariagari
              span.d-flex.justify-content-between.text-muted
                small.right 2019
                small TV Сериал
          .col-3.pb-3
            a.btn.p-0(href='/dist/card.html')
              span
                img.img-fluid(src='https://irecommend.ru/sites/default/files/product-images/458191/73xDhFBLkMiE3dz67T6NUg.jpg')
              span.d-flex.mt-1
                span.text-truncate Tate no Yuusha no Nariagari
              span.d-flex.justify-content-between.text-muted
                small.right 2019
                small TV Сериал
          .col-3.pb-3
            a.btn.p-0(href='/dist/card.html')
              span
                img.img-fluid(src='https://irecommend.ru/sites/default/files/product-images/458191/73xDhFBLkMiE3dz67T6NUg.jpg')
              span.d-flex.mt-1
                span.text-truncate Tate no Yuusha no Nariagari
              span.d-flex.justify-content-between.text-muted
                small.right 2019
                small TV Сериал
