section.std-section.pt-section.left
 .container.pt
   .row
     .col-sm-12.col-md-6.no-padding.pt__order_pic
       .pt__img(style="background-image: url(../img/t1.jpg);")
     .col-sm-12.col-md-6.no-padding.pt__order_text
       .pt__text