footer.footer-section
  .container
    .row
      .col-12
        img.footer-logo(src="./img/header-logo.png")

      .col-12
        .footer-contacts
          span © 2018–2019 Группа Компаний «Интер-Технология»
