header.header-section
  .container
    .row
      .col-5.col-md-3
        a.header-logo(href="/")
          img(src='./img/header-logo.png')
      .col-2.col-md-6.header-menu
        nav.header-menu-nav
          a.header-menu-nav__item(href="#about") О нас
          a.header-menu-nav__item(href="#production") Продукция
      .col-5.col-md-3
        .header-contacts
          a(href="tel:+73435922277") +7&nbsp;(3435)&nbsp;92-22-77<br>
