header.header-section
  .container
    .row
      .col-4.col-sm-3
        a.header-logo(href="/")
          img(src='./img/header-logo.png')
      .col-8.col-sm-6.offset-sm-0.offset-md-1.offset-lg-3
        .row
          .col-sm-12.header-menu
            nav.header-menu-nav
              a.header-menu-nav__item(href="/#trend") Trend
              a.header-menu-nav__item(href="/#urban") Urban
              a.header-menu-nav__item(href="/#deco") Deco
        .row
          .col-sm-12
            .header-contacts
              a(href="tel:+73435922277") +7&nbsp;(3435)&nbsp;92-22-77<br>
              span Свердловская&nbsp;область, <br>г.Нижний&nbsp;Тагил,&nbsp;Газетная&nbsp;88/39