.modal-bg
.modal(data-modal='mailto' style="max-width:600px")
  .modal-close
    div
    div
  .modal-head
    h1 Обратная связь
  .modal-body
    .modal-result.success
      h1 Сообщение успешно отправлено!
      span Мы свяжемся с вами в ближайшее время.
    .modal-result.error
      h1 Сообщение не отправлено!
      span Проверьте правильность ввода.
    form(action="" method="post" name='mailto').modal-form#ajax-form
      .row
        fieldset.col-12.col-md-6
          legend Ваше Имя
          input(placeholder="Ваше имя" type="text" name="name" required)

        fieldset.col-12.col-md-6
          legend Ваш e-mail
          input(placeholder="Ваш e-mail" type="email" name="email" required)

        .col-12
          .modal-policy Нажимая кнопку, вы соглашаетесь c <a href='./policy.html'>политикой</a> в отношении обработки персональных данных

        .col-12.col-md-6
          input.btn.btn--primary#js-submit-mailto(type="submit" value="Отправить")