section.section-std
  .container-full
    .row
      .col-sm-12

        .slider-top-container.swiper-container
          .slider-top-wrapper.swiper-wrapper

            .slider-top-slide.swiper-slide(style="background-image:url(./img/top-slider-1.jpg); background-color: #0d0c12;")

              .slider-top-slide__header.slider-top-slide__header--light Современные<br> чугунные<br>радиаторы Radion™
                //a.slider-top-slide__btn.btn.btn--tertiary(href="javascript:;") Где купить

              .slider-top-slide-ral.slider-top-slide-ral--light
                svg(viewBox="0 0 51.1 51")
                  use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='/img/ral.svg#ral')
                .slider-top-slide-ral__text Возможны<br> другие цвета RAL



            .slider-top-slide.swiper-slide(style="background-image:url(./img/top-slider-2.jpg); background-color: #CBCBCB;")

              .slider-top-slide__header.slider-top-slide__header--dark Современные<br> чугунные<br>радиаторы Radion™
                //a.slider-top-slide__btn.btn.btn--secondary(href="javascript:;") Где купить

              .slider-top-slide-ral.slider-top-slide-ral--dark
                svg(viewBox="0 0 51.1 51")
                  use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='/img/ral.svg#ral')
                .slider-top-slide-ral__text Возможны<br> другие цвета RAL

          .slider-top-pagination.swiper-pagination