.header-mobile
  .header-mobile-content-wrapper.col
    a(href="./").header-mobile-logo-wrapper
      img(src="/img/logo.svg" alt="").header-mobile-logo
  .header-mobile-phone-wrapper
    a(href="tel:83532379200").header-mobile__phone
      img(src="/img/phone.svg#phone" alt="")
  .header-mobile-menu-button-wrapper
    .header-mobile__menu-button#header__mobile-menu-button
      div
      div
      div

.header-mobile-menu#header-mobile-menu.animated.slideOutUp
  .header-mobile-menu-inner-wrapper

    nav.header-mobile-nav

      ul.header-mobile-nav-list
        li.header-mobile-nav-item
          a(href="#about").header-mobile-nav__link О компании
        li.header-mobile-nav-item
          a(href="#advantages").header-mobile-nav__link Преимущества
        li.header-mobile-nav-item
          a(href="#clients").header-mobile-nav__link Наши клиенты
        li.header-mobile-nav-item
          a(href="#contacts").header-mobile-nav__link Контакты
