header.header-section
  .container
    .row
      .col-4.col-sm-3
        a.header-logo(href="/")
          img(src='https://via.placeholder.com/150')
      .col-8.col-sm-6.offset-sm-0.offset-md-1.offset-lg-3
        .row
          .col-sm-12.header-menu
            nav.header-menu-nav
              a.header-menu-nav__item(href="javascript:void(0);") Пункт меню
              a.header-menu-nav__item(href="javascript:void(0);") Пункт меню
              a.header-menu-nav__item(href="javascript:void(0);") Пункт меню
        .row
          .col-sm-12
            .header-contacts
              a(href="tel:+88005553535") +8&nbsp;(800)&nbsp;55-53-535<br>
              span Адрес
