extends ./components/partials/layout.pug

block title
  title Главная

block contentBlock
  include ./components/partials/header.pug
  .container
    .row
      .col-12
        h1 test

  include ./components/slider-top/slider-top.pug
  include ./components/partials/modals.pug
