extends ./components/partials/layout.pug

block title
  title Главная

block contentBlock
  .container
    .row
      .col-12
        h1 Заголовочек
        p test
        p test
        p test
        p test2
        p test3
        p test4
        p test5
        p test
        p test
        p test
        p test
        p test
        p test
        img(data-lazy="https://via.placeholder.com/800x600")

